<div class="py-4 mx-auto text-white bg-black" data-scroll-to-contact-us-target="contact_us">
  <div class="max-w-4xl mx-auto mt-12">
    <p class="text-4xl text-center md:text-6xl">與我們聯繫</p>
    <div class="min-w-48">
      <div>
        <p class="my-4 text-center md:text-xl ">電話：0981-000-618 林先生</p>
        <p class="my-4 text-center md:text-xl ">地址：台中市大里區科技路159號3樓</p>
      </div>
      <div class="md:flex md:gap-2 ">
        <form action="" class="p-2 my-2 md:w-1/2">
          <div class="my-2">
            <label for="" class="">如何稱呼：</label>
            <input type="text" class="w-full p-2 text-black rounded-md">
          </div>
          <div class="my-2">
            <label for="" class="">您的信箱：</label>
            <input type="email" class="w-full p-2 text-black rounded-md">
          </div>
          <div class="my-2">
            <label for="" class="">想說的話：</label>
            <textarea class="w-full p-2 overflow-hidden text-black rounded-md" rows="10"></textarea>
          </div>
          <button class="w-full p-1 my-4 border rounded-md hover:bg-gray-500">送出</button>
        </form>
        <div class="w-full p-2 md:w-1/2">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3642.463931544661!2d120.69172318885501!3d24.085175300000014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34693cbb6a8034ab%3A0xb077f2e40b252d44!2z6Ie65Lit6Luf6auU5ZyS5Y2A!5e0!3m2!1szh-TW!2stw!4v1709543066911!5m2!1szh-TW!2stw" class="w-full h-full rounded-md min-h-96" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>