<div class="max-w-4xl py-4 mx-auto mb-1">
  <p class="text-5xl text-center text-white">合作案例</p>
  <div class="flex overflow-auto">
    <div class="w-48 p-2 m-4 border min-w-48">
      <%= image_tag "https://fakeimg.pl/200x200/", class:"w-full"%>
      <p class="text-xl text-white ">Title</p>
      <p class="inline text-white ">is simply dummy text of the printing and typesetting industry. </p>
    </div>
    <div class="w-48 p-2 m-4 border min-w-48">
      <%= image_tag "https://fakeimg.pl/200x200/", class:"w-full"%>
      <p class="text-xl text-white ">Title</p>
      <p class="inline text-white ">is simply dummy text of the printing and typesetting industry. </p>
    </div>
    <div class="w-48 p-2 m-4 border min-w-48">
      <%= image_tag "https://fakeimg.pl/200x200/", class:"w-full"%>
      <p class="text-xl text-white ">Title</p>
      <p class="inline text-white ">is simply dummy text of the printing and typesetting industry. </p>
    </div>
    <div class="w-48 p-2 m-4 border min-w-48">
      <%= image_tag "https://fakeimg.pl/200x200/", class:"w-full"%>
      <p class="text-xl text-white ">Title</p>
      <p class="inline text-white ">is simply dummy text of the printing and typesetting industry. </p>
    </div>
  </div>
</div>