<div class="max-w-4xl min-h-screen py-4 mx-auto">
  <div class="relative ">
    <%= image_tag("element_cooperation_case_title.png", class:"mx-auto w-[250px] md:w-[400px]")%>
    <p class="absolute text-4xl text-center text-blue-900 top-[35%] left-[35%] md:left-[40%] md:text-6xl">合作案例</p>
  </div>
  <div>
  </div>
</div>