<div class="max-w-4xl min-h-screen py-4 mx-auto">
  <div class="relative ">
    <div class="w-[300px] mx-auto">
      <%= render "pages/svg_images/cooperation_case_title"%>
    </div>
    <p class="absolute text-4xl text-center text-blue-900 -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 md:text-5xl">合作案例</p>
  </div>
  <div>
  </div>
</div>