<div class="my-4 ">
  <div class="flex justify-center ">
    <div>
      <p class="my-4 text-5xl">核心價值</p>
      <p class="my-2 ">創新、專業、合作、共贏</p>
      <p class="my-2 ">不斷追求技術與管理創新</p>
      <p class="my-2 ">良好合作關係，實現共贏目標</p>
    </div>
  </div>
  <div class="flex justify-center">
    <%= image_tag "https://fakeimg.pl/300x300/"%>
  </div>
</div>