<div class="py-4 bg-black">
  <div class="max-w-4xl mx-auto">
    <p class="text-5xl text-center text-white ">服務項目</p>
    <div class="flex gap-2 m-2 overflow-auto">
      <div class="w-56 p-2 bg-gray-200 rounded-md whitespace-nowrap">
        <p class="font-bold ">工業物聯網</p>
        <ul>
          <li class="my-1 text-sm ">工業設備狀態監視</li>
          <li class="my-1 text-sm ">HMI 監視</li>
          <li class="my-1 text-sm ">環境監視和警報通知</li>
        </ul>
      </div>
      <div class="w-56 p-2 bg-gray-200 rounded-md whitespace-nowrap">
        <p class="font-bold ">智慧能源管理</p>
        <ul>
          <li class="my-1 text-sm ">監測能耗數據</li>
          <li class="my-1 text-sm ">用能因子分析</li>
          <li class="my-1 text-sm ">智慧電表安裝服務</li>
        </ul>
      </div>
      <div class="w-56 p-2 bg-gray-200 rounded-md whitespace-nowrap">
        <p class="font-bold ">自動化供料系統</p>
        <ul>
          <li class="my-1 text-sm ">料倉型門型機械手供料系統</li>
          <li class="my-1 text-sm ">料倉型關節機械手供料系統</li>
        </ul>
      </div>
      <div class="w-56 p-2 bg-gray-200 rounded-md whitespace-nowrap">
        <p class="font-bold ">智慧視覺系統</p>
        <ul>
          <li class="my-1 text-sm ">視覺導引機器人整合應用</li>
        </ul>
      </div>
      <div class="w-56 p-2 bg-gray-200 rounded-md whitespace-nowrap">
        <p class="font-bold ">PLC程式設計</p>
        <ul>
          <li class="my-1 text-sm ">PLC 程式設計</li>
          <li class="my-1 text-sm ">HMI 圖控介面設計</li>
        </ul>
      </div>
    </div>
    <div class="flex justify-center w-full my-4">
      <button class="w-1/2 p-1 text-white border rounded-md ">與我們聯繫</button>
    </div>
  </div>
</div>