<div class="min-h-screen py-4 bg-gray-400 ">
  <div class="max-w-4xl mx-auto">
    <div class="relative">
      <%= image_tag("element_service_item_title.png", width:200, class:"mx-auto")%>
      <div class="absolute -translate-x-1/2 top-16 left-1/2">
        <p class="text-4xl text-center text-blue-900 ">服務</p>
        <p class="text-4xl text-center text-blue-900 ">項目</p>
      </div>
    </div>
    <div class=" relative bg-[url('element_ervice_item_card.png')] bg-cover h-28">
      <p class="absolute text-3xl top-10 left-28">物聯網技術</p>
    </div>
    <div class=" relative bg-[url('element_ervice_item_card.png')] bg-cover h-28">
      <p class="absolute text-3xl top-10 left-28">智慧能源管理</p>
    </div>
    <div class=" relative bg-[url('element_ervice_item_card.png')] bg-cover h-28">
      <p class="absolute text-3xl top-10 left-28">自動化供料系統</p>
    </div>
    <div class=" relative bg-[url('element_ervice_item_card.png')] bg-cover h-28">
      <p class="absolute text-3xl top-10 left-28">PLC、WEB</p>
    </div>
  </div>
</div>
