<div class=" relative min-h-screen py-4 bg-[url('backround_2.jpg')] bg-cover ">
  <%= image_tag("background_moon.png", class:"absolute top-0 left-0 opacity-20")%>
  <%= turbo_frame_tag :service_item_card, src: service_item_card_path, loading: :lazy do%>
  <% end %>
</div>
