<div class="bg-[url('home_background_1.jpg')] bg-cover">
  <div class="w-full max-w-4xl p-4 mx-auto overflow-hidden ">
    <div class="relative ">
      <div class=" w-[250px] mx-auto md:w-[350px] md:mx-0">
        <%= render "pages/svg_images/about_us_title"%>
      </div>
      <h2 class="absolute top-1/2 -translate-y-[90%] mt-4 text-4xl font-bold text-blue-800 -translate-x-[40%] left-1/2 md:text-5xl md:left-0 md:translate-x-[40%]">About Us</h2>
    </div>
    <%= image_tag "https://fakeimg.pl/1600x900/", class:"my-4" %>
    <div class="relative my-4 tracking-widest break-all md:text-xl ">
      <p class="leading-loose">川弘科技有限公司成立於 2023 年，是一家年輕且充滿活力的新創公司。<br>
        我們致力於工業物聯網、智慧視覺及機械手臂應用，並將最新的科技和工業應用相結合，為客戶提供高品質、創新性技術和服務。我們深信科技的力量，會為客戶帶來更多的價值和效益。</p>
    </div>
  </div>
</div>