<div>
  <div>
    <h1 class="text-4xl font-bold">About Us</h1>
    <p>川弘科技有限公司成立於 2023 年，是一家年輕且充滿活力的新創公司。</p>
    <p>我們致力於工業物聯網、智慧視覺及機械手臂應用，並將最新的科技和工業應用相結合，為客戶提供高品質、創新性技術和服務，我們深信科技的力量，會為客戶帶來更多的價值和效益。</p>
    <p class="mt-4 text-2xl font-bold">經營理念</p>
    <p>我們的經營理念是「創新、專業、合作、共贏」。</p>
    <p><span class="mr-2 text-xl font-bold">創新</span>是我們的核心競爭力，我們不斷追求技術創新和管理創新，以不斷提高產品和服務的競爭力。</p>
    <p><span class="mr-2 text-xl font-bold">專業</span>是我們的價值，我們擁有一支專業的團隊，熟悉行業技術和市場需求，為客戶提供專業的產品和服務。</p>
    <p><span class="mr-2 text-xl font-bold">合作</span>是我們的基礎，我們與客戶和供應商建立了良好的合作關係，共同實現雙方的共贏目標。</p>
    <p class="mt-4 text-2xl font-bold">服務項目</p>
    <ul>
      <li>物聯網技術：工業設備狀態監視，HMI 監視，環境監視和警報通知</li>
      <li>智慧能源管理：監測能耗數據、用能因子分析、智慧電表安裝服務</li>
      <li>自動化供料系統：料倉型門型機械手供料系統、料倉型關節機械手供料系統</li>
      <li>智慧視覺系統：視覺導引機器人整合應用</li>
      <li>PLC程式設計與圖控介面設計</li>
    </ul>
  </div>
</div>