<div class="w-full max-w-4xl p-2 mx-auto my-2">
  <h2 class="text-2xl text-center">Dashboard</h2>
  <div class="flex items-center justify-center gap-2 my-2">
    <p class="cursor-pointer ">Products</p>
    <p class="cursor-pointer ">Articles</p>
    <p class="cursor-pointer ">Users</p>
  </div>
  <%= render "products" %>
  <%= render "article_list"%>
  <%= render "user_list" %>
</div>