<div class="w-full max-w-4xl p-4 mx-auto">
  <h2 class="text-2xl text-center">Dashboard</h2>
  <div class="flex items-center justify-center gap-2 my-2 border-b-2">
    <p class="cursor-pointer ">Products</p>
    <p class="cursor-pointer ">Articles</p>
    <p class="cursor-pointer ">Users</p>
  </div>
  <%= render "products" %>
  <div class="flex items-end justify-between gap-2 pb-2 border-b-2">
    <h2 class="text-2xl ">Artilces</h2>
    <%= link_to "Add article", new_article_path, class:"p-1 border rounded-md hover:bg-gray-300" %>
  </div>
  <div>
    <table class="w-full ">
      <tr>
        <th>Title</th>
        <th>Tag</th>
        <th>contant</th>
      </tr>
    </table>
    <tbody>
    </tbody>
  </div>
  <%= render "user_list" %>
</div>