<div class="w-full max-w-4xl p-2 pt-12 mx-auto my-2 overflow-auto">
  <h2 class="text-4xl text-center dark:text-slate-200 ">Dashboard</h2>
  <div class="flex items-center justify-center gap-2 my-2 dark:text-slate-200 ">
    <p class="cursor-pointer ">Products</p>
    <p class="cursor-pointer ">Articles</p>
    <p class="cursor-pointer ">Users</p>
  </div>
  <%= render "products" %>
  <%= render "article_list"%>
  <%= render "user_list" %>
</div>