<div class="w-full" data-controller="scroll-to-contact-us">
  <div class=" bg-[url('home_background_1.jpg')] ">
    <div class="relative h-screen ">
      <div class="absolute w-full text-center -translate-x-1/2 -translate-y-[150%] top-1/2 left-1/2">
        <p class="text-4xl transition-all duration-700 ease-in opacity-100">川弘科技有限公司</p>
        <p class="font-mono text-2xl text-blue-900">DLCTEK</p>
      </div>
      <p class="absolute text-center -translate-x-1/2 bottom-10 left-1/2 animate-bounce">V</p>
    </div>
    <%= render "core_value"%>
    <%= render "service_item"%>
    <%= render "cooperation_case"%>
    <%= render "contact_us"%>
  </div>
</div>
