<div class="p-2 pt-6 border-t-2">
  <div class="max-w-4xl mx-auto ">
    <div class="grid gap-4 grid-row-5 lg:grid-cols-5">
      <%= link_to root_path do%>
        <div class="text-xs border-b-2 lg:border-0 lg:text-center">
          root page
        </div>
      <% end %>
      <%= link_to store_path do%>
        <div class="text-xs border-b-2 lg:border-0 lg:text-center">
          store
        </div>
      <% end %>
      <div class="text-xs border-b-2 lg:border-0 lg:text-center">關於川弘</div>
      <div class="text-xs border-b-2 lg:border-0 lg:text-center">聯繫川弘</div>
      <div class="text-xs border-b-2 lg:border-0 lg:text-center">工作機會</div>
    </div>
    <div class="mt-6">
      <%= image_tag("dlctek_logo.png", width:50, class:"mx-auto")%>
      <p class="text-xs font-bold text-center">川弘科有限公司</p>
    </div>
  </div>
</div>